<br/>

<div class="form-group">
    <table class="table">
        <tr ng:repeat="h in status">
            <th class="{{h.status}}">{{h.url}}</th>
            <td class="{{h.status}}">{{h.limit| date:'dd MMM yyyy HH:mm:ss'}}</td>
            <td width="1">
                <button class="btn btn-default" ng:click="remove(h)" title="Remove">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng:click="add()" translate>Add url</button>
</div>
